.album-image-list{float:left;width:754px;}
.album-image{margin:10px 3px 0px 3px;float:left;width:349px;height:300px;text-align:center;padding:10px;border:#ccc 1px solid;text-align:left;}
.album-image img{float:left;width:349px;height:210px;}