.publish{height:500px;width:1004px;padding-top:10px;}
.publish .left{width:750px;float:left;height:400px;}
.publish .left span{color:#ff9900;font-weight:bold;}
.publish .left .title {width:740px;height:35px;line-height:35px;font-weight:bold;padding:5px;font-size: 14px;}

.publish .right{width:240px;float:right;height:400px;}
.publish .right a{font-weight:bold;}

.publish .right .forum{width:228px;height:45px;line-height:45px;border:#ccc 1px solid;padding: 0px 5px 0px 5px;}
.publish .right .tag{width:228px;height:45px;line-height:45px;border:#ccc 1px solid;padding: 0px 5px 0px 5px;margin-top:10px;display: none;}
.publish .right .tag label{display:inline-block;}


.button{width:100px;height:35px;margin-left:650px;font-weight:bold;}
.editor {border: #ccc 1px solid;}
.editor .tool-bar{border-bottom: #ccc 1px solid;}
