.sparrow-tree {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.sparrow-tree img {
    border: 0;
    vertical-align: middle;
}

.sparrow-tree a {
    color: #333;
    text-decoration: none;
}

.sparrow-tree a.node {
    white-space: nowrap;
    padding: 1px 2px 1px 2px;
}

.sparrow-tree a.node:hover, .sparrow-tree a.nodeSel:hover {
    cursor: pointer;
}

.sparrow-tree a.nodeSel {
    font-size: 14px;
    font-style: italic;
}

.sparrow-tree .clip {
    overflow: hidden;
}

/*--------------------menuTree-------------------------*/
.sparrow-treeNodeMenuTree1:hover {
    line-height: 30px;
    display: line;
    font-weight: bold;
    background-color: #36aef4;
    cursor: pointer;
    border: none;
}

.sparrow-treeNodeMenuTree1 {
    line-height: 30px;
    display: line;
    font-weight: bold;
    border-bottom: #ccc 1px dotted;
}

.sparrow-treeNodeSelectMenuTree1 {
    line-height: 30px;
    display: line;
    font-weight: bold;
    background-color: #36aef4;
    color: #fff;
    cursor: pointer;
    border: none;
}

.sparrow-treeNodeSelectMenuTree1 span
{
    font-size: 12pt;
    color:#fff;
}
.sparrow-treeNodeMenuTree1:hover span{
    font-size: 12pt;
    color:#fff;
}

.sparrow-treeNodeMenuTree2:hover {
    line-height: 25px;
    display: line;
    font-weight: bold;
    background-color: #36aef4;
    color: #fff;
    cursor: pointer;
    border: none;
}

.sparrow-treeNodeMenuTree2 {
    line-height: 25px;
    display: line;
    border-bottom: #ccc 1px dotted;
}

.sparrow-treeNodeSelectMenuTree2 span
{
    font-size: 12pt;
    color:#fff;
}
.sparrow-treeNodeMenuTree2:hover span{
    font-size: 12pt;
    color:#fff;
}

.sparrow-treeNodeSelectMenuTree2 {
    line-height: 25px;
    display: line;
    font-weight: bold;
    background-color: #36aef4;
    color: #fff;
    cursor: pointer;
    border: none;
}

.sparrow-treeNodeMenuTree3:hover {
    line-height: 20px;
    display: line;
    font-weight: bold;
    background-color: #36aef4;
    color: #fff;
    cursor: pointer;
    border: none;
}

.sparrow-treeNodeMenuTree3 {
    line-height: 20px;
    display: line;
    border-bottom: #ccc 1px dotted;
}

.sparrow-treeNodeSelectMenuTree3 {
    line-height: 20px;
    display: line;
    font-weight: bold;
    background-color: #36aef4;
    color: #fff;
    cursor: pointer;
    border: none;
}
.sparrow-treeNodeSelectMenuTree3 span
{
    font-size: 12pt;
    color:#fff;
}
.sparrow-treeNodeMenuTree3:hover span{
    font-size: 12pt;
    color:#fff;
}
/*--------------------forumTree-------------------------*/
.sparrow-treeNodeHoverForumTree1 {
    line-height: 30px;
    background: #ff6500;
    display: line;
    font-weight: bold;
}

.sparrow-treeNodeForumTree1 {
    line-height: 30px;
    background: #ffffff;
    display: line;
    font-weight: bold;
    border-bottom: #ca151d 2px solid;
}

.sparrow-treeNodeForumTree1 span,
{
    font-size: 14pt;
}

.sparrow-treeNodeHoverForumTree1 span {
    color: #ffffff;
    font-size: 14pt;
}

.sparrow-treeNodeHoverForumTree2 {
    line-height: 25px;
    background: #ff6500;
    display: line;
}

.sparrow-treeNodeForumTree2 {
    line-height: 25px;
    background: #ffffff;
    display: line;
    border-bottom: #ccc 1px dotted;
}

.sparrow-treeNodeHoverForumTree3 {
    line-height: 20px;
    background: #ff6500;
    display: line;
}

.sparrow-treeNodeForumTree3 {
    line-height: 20px;
    background: #ffffff;
    display: line;
}