<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script language="javascript" type="text/javascript"  src="http://www.sparrowzoo.net/assets/scripts/require.js"></script>
    <script language="JavaScript" type="text/javascript" src="http://www.sparrowzoo.net/assets/scripts/sparrow.js"></script>
</head>
<body>


<input value="sparrowzoo" type="text" id="txtUserName" name="userName"/>

<div id="divHello"></div>


<script language="JavaScript" type="text/javascript">
    console.log(document.getElementById("txtUserName").value);

    document.getElementById("divHello").innerHTML="hello world";

    $("#divHello").html("Next Step...");
    //y=f(x);

    function func() {
        alert("function");
    }

    var anonymous=function () {
        alert("anonymous");
    };

    anonymous();

    (function(){
       alert("anonymous function");
    })();
</script>
</body>
</html>