*.iml
target
.idea
classes
logs
.DS_Store
node_modules
target
radix-ui-primitives
/radix-ui-primitives/
.next

# 构建产物
dist/
build/
*build-dist*/

# 打包文件
artifacts/
*.zip
*.tar.gz
*.tgz
*.pack
*.pack.gz

# 编译缓存
*.tsbuildinfo
