@font-face {
  font-family: "iconfont"; /* Project id 3812559 */
  src: url('//at.alicdn.com/t/c/font_3812559_predb2e7fq7.woff2?t=1670498751684') format('woff2'),
       url('//at.alicdn.com/t/c/font_3812559_predb2e7fq7.woff?t=1670498751684') format('woff'),
       url('//at.alicdn.com/t/c/font_3812559_predb2e7fq7.ttf?t=1670498751684') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-gengduo:before {
  content: "\e88b";
}

.icon-sousuo:before {
  content: "\e622";
}
