.session-detail-part {
  position: relative;
}
.session-detail-part .tool {
  width: 100vw;
  height: 12vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4vw;
  box-sizing: border-box;
  position: relative;
}
.session-detail-part .tool .arrows-l {
  position: absolute;
  left: 4vw;
  top: 50%;
  transform: translateY(-50%);
  width: 6.6667vw;
  height: 5.3333vw;
  background-image: url("../img/arrows-l.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.session-detail-part .tool p {
  text-align: center;
  font-size: 4.8vw;
  font-weight: 600;
}
.session-detail-part .tool .icon-more {
  position: absolute;
  right: 4vw;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 7.8vw;
}
.session-detail-part .session-content {
  width: 100vw;
  height: calc(100vh - 12vw);
  box-sizing: border-box;
  background-color: #f7f7f7;
  overflow: auto;
  padding-bottom: 24vw;
}
.session-detail-part .session-content .message {
  margin: 2vw 4.6667vw 4vw 4.6667vw;
}
.session-detail-part .session-content .message .time {
  color: #b1b1b1;
  font-size: 3.4667vw;
  text-align: center;
  padding: 2.5vw 0;
}
.session-detail-part .session-content .message .user-msg {
  display: flex;
  padding: 1.3333vw 0;
}
.session-detail-part .session-content .message .user-msg .avatar-user {
  width: 10.6667vw;
  height: 10.6667vw;
  border-radius: 1.3333vw;
}
.session-detail-part .session-content .message .user-msg .userinfo {
  position: absolute;
  z-index: 1;
  top: 0;
  transform: translateY(-110%);
  left: 0;
  height: 4vw;
  line-height: 4vw;
}
.session-detail-part .session-content .message .user-msg .userinfo img {
  width: 3.4667vw;
  height: 3.4667vw;
  border-radius: 50%;
  vertical-align: middle;
}
.session-detail-part .session-content .message .user-msg .userinfo span {
  vertical-align: middle;
  color: #b1b1b1;
  font-size: 3.4667vw;
}
.session-detail-part .session-content .message .user-msg .message-detail {
  position: relative;
  max-width: 50%;
  line-height: 10.6667vw;
  margin: 0 4.8vw 0 4.8vw;
  padding: 0 4vw 0 4vw;
  border-radius: 1.0667vw;
}
.session-detail-part .session-content .message .user-msg .message-detail .message-text {
  white-space: pre-wrap;
  font-size: 3.4667vw;
}
.session-detail-part .session-content .message .user-msg .img-text {
  position: relative;
  margin: 0 5.3333vw;
}
.session-detail-part .session-content .message .user-msg .img-text .userinfo {
  transform: translateY(-150%);
}
.session-detail-part .session-content .message .user-msg .img-text .msg-picture {
  border-radius: 1.3333vw;
  max-width: 30.6667vw;
}
.session-detail-part .session-content .left .user-msg {
  flex-direction: row;
}
.session-detail-part .session-content .left .user-msg .message-detail {
  background-color: #fff;
  color: #000;
  position: relative;
  padding-left: 2.6667vw;
}
.session-detail-part .session-content .left .user-msg .message-detail .block {
  border: 2.6667vw solid transparent;
  border-right-color: #fff;
  position: absolute;
  top: 2.4vw;
  left: -5.3333vw;
}
.session-detail-part .session-content .right .user-msg {
  flex-direction: row-reverse;
}
.session-detail-part .session-content .right .user-msg .message-detail {
  background-color: #282d3b;
  color: #eee;
  position: relative;
  padding-right: 2.6667vw;
}
.session-detail-part .session-content .right .user-msg .message-detail .block {
  border: 2.6667vw solid transparent;
  border-left-color: #282d3b;
  position: absolute;
  top: 2.4vw;
  right: -5.3333vw;
}
.session-detail-part .session-input {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  box-sizing: border-box;
}
.session-detail-part .session-input .input {
  height: 24vw;
  display: flex;
  align-items: center;
  padding: 0 6vw;
}
.session-detail-part .session-input .input .icon {
  width: 6.6667vw;
  height: 6.6667vw;
  background-size: 100%;
}
.session-detail-part .session-input .input .icon-left {
  background-image: url("../img/icon.png");
}
.session-detail-part .session-input .input .icon-right {
  background-image: url("../img/icon-add.png");
}
.session-detail-part .session-input .input input {
  flex: 1;
  height: 10.6667vw;
  border-radius: 5.3333vw;
  outline: none;
  border: none;
  margin: 0 2.6667vw;
  background-color: #f3f0f0;
  padding-left: 6vw;
  color: #848484;
  font-size: 3.4667vw;
}
.session-detail-part .session-input .translate {
  height: 13.3333vw;
  background-color: #f7f7f7;
  border-top: 1px solid #b1b1b1;
  display: flex;
  align-items: center;
  padding: 0 6vw;
}
.session-detail-part .session-input .translate button,
.session-detail-part .session-input .translate div {
  border: 2px solid #282d3b;
  border-radius: 1.3333vw;
  padding: 1.8667vw;
  font-size: 3.2vw;
  font-weight: 600;
  color: #282d3b;
  margin-right: 1.3333vw;
}
.session-detail-part .session-input .translate button:first-child,
.session-detail-part .session-input .translate div:first-child {
  width: 13vw;
}
.session-detail-part .session-input .translate button:last-child,
.session-detail-part .session-input .translate div:last-child {
  width: 7.4667vw;
}
.session-detail-part .session-input .translate div {
  flex: 1;
  margin: 0 0.6667vw;
  position: relative;
}
.session-detail-part .session-input .translate div i {
  position: absolute;
  top: 50%;
  right: 2.6667vw;
  transform: translateY(-50%);
  width: 5.0667vw;
  height: 5.0667vw;
  background-color: #bebdc1;
  border-radius: 50%;
  background-image: url("../img/x.png");
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}
.session-detail-part .session-input .translate span {
  margin-left: 1.6vw;
  width: 8vw;
  text-align: end;
  font-size: 3.2vw;
  font-weight: 600;
  color: #282d3b;
}
