@font-face {
    font-family: "iconfont"; /* Project id 3570471 */
    src: url('//at.alicdn.com/t/c/font_3570471_jbgmqr51go.woff2?t=1669809596134') format('woff2'),
    url('//at.alicdn.com/t/c/font_3570471_jbgmqr51go.woff?t=1669809596134') format('woff'),
    url('//at.alicdn.com/t/c/font_3570471_jbgmqr51go.ttf?t=1669809596134') format('truetype'),
    url('//at.alicdn.com/t/c/font_3570471_jbgmqr51go.svg?t=1669809596134#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
    content: "\e88b";
}

.icon-loading:before {
    content: "\e891";
}

.icon-cuowukongxin:before {
    content: "\ed1a";
}

.icon-error:before {
    content: "\e600";
}

.icon-right:before {
    content: "\e744";
}

.icon-shangla:before {
    content: "\e797";
}

.icon-down-more:before {
    content: "\e6aa";
}

.icon-img:before {
    content: "\e695";
}

.icon-qun:before {
    content: "\e627";
}

.icon-user:before {
    content: "\e611";
}

.icon-add-user:before {
    content: "\e8c0";
}

.icon-user-name:before {
    content: "\e664";
}

.icon-search:before {
    content: "\e622";
}
