.clearfix {
    *zoom: 1;
    /*ie 6 识别 */
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
/*清除标签文字*/
.clear-text {
    font: 0/0 a;
    /*
    font-size: 0px;
    line-height: 0;
    font-family: a;*/
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    text-align: center;
    background-image:url(../images/background.png);
    color: #333333;
    font-family:"Microsoft Yahei","微软雅黑" !important;
    font-size: 14px;
    background-color: #ffffff;
}

form {
    margin: 0;padding: 0;
}

a:link {text-decoration: none;color: #333;}
a:visited {text-decoration: none;color: #333;}
a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover,
a:active {
    outline: 0;
    color: #3165CE;
}


img {
    width: auto\9;
    /*
  “\9″    在IE6/IE7/IE8/IE9/IE10下生效
  “\0”    在 IE8/IE9/IE10下生效
  “\9\0” 在IE9/IE10下生效
    */
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    /*- iE7.0中自带的-ms-interpolation-mode属性可以解决缩放失真问题*/
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}


p{margin-top:3px;margin-bottom:0;}
ul,
ol {
    padding: 0;
    margin: 0 0 10px 25px;
}
li {
    line-height: 20px;
}


dl {
    margin-bottom: 20px;
}

dt,
dd {
    line-height: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 10px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}


table {border-collapse: collapse;empty-cells: show;}
.pointer{cursor: pointer;}

.row {
    margin-left: -20px;
    *zoom: 1;
}
.row:before,
.row:after {
    display: table;
    line-height: 0;
    content: "";
}
.row:after {
    clear: both;
}







.body{text-align: left;width:98%;}
.navigation {width: 100%;text-indent: 20px;line-height: 40px;border-bottom: #ccc 1px dotted;text-align:left;}
.prompt {color: #8CAEB5;font-size: 10pt;}
.star {color: #ca151d;font-size: 10pt;}
.error{color: #FF6500;font-size: 10pt;font-weight: bold;}
.highlight {color: #ca151d;font-weight: bold;font-size: 10pt;}


.page a{float:left;padding:5px 10px 5px 10px;margin:0;border: #ccc 1px solid;border-left-width: 0;color:#00648d;cursor: pointer;}
.page {height: 36px;padding:2px;margin:2px;}
.page .first{border-left-width:1px;}
.page .num {background:#fff;}
.page .disable{color: #ccc;}
.page input{float: left;border: #ccc 1px solid;border-left-width: 0;color:#00648d;padding:5px 10px 5px 10px;margin:0;width:20px;line-height:17px;text-align: center;}
.head-row th {border: #ccc 1px solid;background: #ffffff;}
.data-row{background: #fff;}
.alternating{background: #e7effa;}
.data-row:hover{background:#36aef4;}
.data-row td {border: #ccc 1px solid;}


.file-frame {width: 250px;height: 42px;}
.float-tree {overflow: scroll;display: none;}
.cover_container{border:#ccc 1px solid;overflow:scroll;}
/*后台管理时使用*/
.system{
    height:60px;text-align:left;font-weight:bold;width: 100%;border-bottom: 1px solid #fafafa; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15), 0 2px 1px rgba(0,0,0,.10), 0 3px 1px rgba(0,0,0,.05); -moz-box-shadow: 0 1px 1px rgba(0,0,0,.15), 0 2px 1px rgba(0,0,0,.10), 0 3px 1px rgba(0,0,0,.05);
    /* box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05); */
    /* position: fixed; */
    /* z-index: 1000; */
    /* top:0; */
    /* left:0; */
}
.system a{padding: 0 20px 0 15px;display:inline-block;line-height:60px;height:60px;position: relative;}
.system a img{vertical-align:middle;border:0;height:60px;}
.system .left{float:left;height:60px;}
.system .right{float:right;height:60px;}
.system .logo{position: relative; border-right: 1px solid #bfbfbf;}


.system .user{position: relative;border-right: 1px solid #bfbfbf;}
.system .exit{text-align:left;width:300px;}
/*=============后台框架样式=================*/

/*----------编辑器附件框架 tab1 tab2.....----------------*/
.editorAttachFrame{width:520px;height:250px;}
/*----------标题样式--------------------------*/
.editorAttachFrame .title{width:auto;font-size:12pt;font-weight:bold;height:30px;	 margin:0;padding:0;}
.editorAttachFrame .title ul{  width:auto;margin:0;padding:0;height:30px;border:0;}
.editorAttachFrame .title ul li{float:left;line-height:30px;list-style: none;margin:0;}
.editorAttachFrame .title ul li a{line-height:30px;border:0;width:80px;display:block;margin:0;}
.editorAttachFrame .title ul li a:hover{background:#ccc;line-height:30px;}
.editorAttachFrame .title ul li.close{	float:right;}
.editorAttachFrame .title ul li.index{background:#ffffff}
.editorAttachFrame .title ul li.select{background:#ccc;}
.editorAttachFrame .title ul li.select a span{color:#ffffff !important;font-weight:bold;}
.editorAttachFrame .title ul li.noselect{background:#fff;}
.editorAttachFrame .title ul li.noselect a span{color:#000000;font-weight:normal;}
.editorAttachFrame .title ul li.more{float:right;}
.editorAttachFrame .attach .fileName{height:30px;width:260px;text-align:left;}
.editorAttachFrame .attach .fileRemarks{width:120px;height:30px;}
.editorAttachFrame .attach .fileOperation{width:200px;height:30px;}
/*-----------------标题样式定义结束--------------*/
/*-----------------内容定义开始-----------------*/
.editorAttachFrame .content{margin:0;border:1px dotted #5393cf;width:auto;}
.editorAttachFrame .content div{margin:0;}
.editorAttachFrame .content div.none{display: none;}
.editorAttachFrame .content div.block{display: block;margin:0;}
/*内容定义结束*/

/*后台管理公用样式*/
.frame {text-align: left;}
.title {text-align: left; margin-bottom: 15px; background:#f6f6f6;color: #000000;text-indent: 10pt;line-height: 30px;overflow:hidden;border-bottom: #ccc 1px solid;width: 100%;}
.title .text {width: 70%;display: inline-block;text-align: left;font-weight: bold;float: left;line-height: 30px;}
.title .more {width: 58px;line-height: 15px;margin-top: 5px;margin-right: 20px;text-align: center;float: right;font-size: 10pt;}

.content ul.items{margin:0;padding:0;line-height:25px;list-style:none;}
.content ul li.item{float:left;padding:0;margin:0;display:inline-block;width:100%;}
.content ul li a.link{width:70%;overflow:hidden;float:left;height:25px;line-height:25px;}
.content ul li span.text{width:40px;float:right;text-align:right;}

/*标签样式 全局使用*/
.tag-title {border-bottom: #ccc 1px solid;height: 20px;line-height: 20px;}
.tag-content {padding: 5px;}
.tag-content .tag {background: #DEF2FE;color: #5B5B5B;margin:3px;display:inline-block;overflow:hidden;}


/*--tab公共样式 规格样式*/
.tab{border:#ccc 1px solid;overflow:hidden;}
/*----------标题样式--------------------------*/
.tab .tab-title{width:100%;font-size:12pt;font-weight:bold;margin:0;padding:0;height:50px;padding-left:5px;}
.tab .tab-title ul{width:100%;margin:0;padding:0;border:0;overflow:hidden;}
.tab .tab-title ul li{float:left;line-height:30px;list-style: none;margin:10px 5px 10px 5px;}
.tab .tab-title ul li a{line-height:28px;padding:0 5px 0 5px;border:#ca151d 1px solid;text-align:center;display:block;margin:0;}
.tab .tab-title ul li.select{background:#ca151d;}
.tab .tab-title ul li.select a:hover{background:#ca151d;}
.tab .tab-title ul li.select a span{color:#ffffff !important;font-weight:bold;font-size:12pt;}
.tab .tab-title ul li.noselect a{border:#ccc 1px solid;}
.tab .tab-title ul li.noselect a:hover{background:#ca151d;border:#ca151d 1px solid;}
.tab .tab-title ul li.noselect{background:#fff;}
.tab .tab-title ul li.noselect a span{color:#000;font-weight:normal;font-size:12pt;}
.tab .tab-title ul li.noselect a:hover span{color:#fff;font-weight:bold;}
.tab .tab-title ul li.more{float:right;width:80px;}
.tab .tab-title ul li.more a{width:80px;display:block;margin:0;text-align:center;font-size:10pt;border:none;}
.tab .tab-title ul li.more a:hover{background:#ca151d;line-height:30px;color:#fff;}
.tab .tab-title ul li.more a span{display:block;text-align:right;padding-left:10px;padding-right:10px;}
.tab .tab-title ul li.index{background:#ca151d}
/*-----------------标题样式定义结束--------------*/
/*-----------------内容定义开始-----------------*/
.tab .tab-content{margin:0;width:100%;padding:2px 10px 0 10px;overflow:hidden;}
.tab .tab-content div.none{display: none;overflow:hidden;}
.tab .tab-content div.block{display: block;text-align:center;width:98%;overflow:hidden;}
.tab .tab-content ul.items{line-height:25px;list-style:disc;overflow:hidden;margin:0;padding:0;width:96%;}
.tab .tab-content ul li.item{float:left;width:46%;padding:1px;margin-left:15px;}
.tab .tab-content ul li a.link{float:left;text-align:left;overflow:hidden;height:25px;line-height:25px;display:inline-block;width:70%;}
.tab .tab-content ul li span.text{float:right;text-align:right;padding-right:20px;}

/*图片轮播效果 count效果因为不一致没有加入到公共样式中*/
.photo-tab {position: relative;background: #fff;border-radius:2px;border:1px solid #ccc;overflow:hidden;margin-bottom:10px;text-align:center;}
.photo-tab .container{position: relative;}
.photo-tab .list{position: absolute;top: 0;left:0;list-style:none;padding:0;margin:0;border:#000 1px solid;}
.photo-tab .list .item {float:left;padding:0;margin:0;}
.photo-tab .list .item .link{display:block;}


.footer{
    font-size: 87.5%;
    border-top: 1px solid #eee;
    margin-top: 3.4286em;
    padding: 1.1429em;
    background: rgb(250, 250, 250);
}
.footer dd{width:100%;margin:0;padding:0;}
.footer dd a{padding:5px;display:inline-block;}