.avatar-title {
    width: 680px;
    height: 50px;
    border-bottom: #ccc 1px solid;
    color: #ff9900;
    font-weight: bold;
    font-size: 16pt;
    text-align: left;
    line-height: 50px;
}

.avatar-content {
    height: 420px;
    width: 660px;
    margin: 20px;
    padding: 20px;
}

.current-avatar {
    float: left;
    height: 420px;
    width: 170px;
    border-right: #ccc 1px solid;
    padding: 10px;
}

.current-avatar img {
    height: 150px;
    width: 150px;
}

.local-upload {
    float: right;
    height: 420px;
    width: 400px;
    /*border-left: #ccc 1px solid;*/
    padding: 10px;
}

.local-upload img {
    width: 300px;
    height: 300px;
}
