p{margin-top:3px;margin-bottom:0;}
img {border: 0;}
html,body {text-align: center;margin: auto;padding: 0;color:#000;font-size:10pt;font-family:"Microsoft Yahei","微软雅黑" !important;height:100%;}
form {margin: 0;padding: 0;}
table {border-collapse: collapse;empty-cells: show;}
A:link {text-decoration: none;color: #333;}
A:visited {text-decoration: none;color: #333;}
A:hover {color: #3165CE;}
A:active {color: #3165CE;}
/*--文章标题--*/
h4{margin:0;padding:3px;font-size:12pt;font-weight:bold;color:#000;}
h4 a{color:#c1c1c1 !important;}

.body{text-align: left;width: 1004px;margin: auto;overflow:hidden;}
/*cms forum*/
.body .forum{width:1004px;height:250px;}
.left{float:left;}
.right{float:right;}
.prompt {color: #8CAEB5;font-size: 10px;}
.star {color: #c1c1c1;font-size: 10px;}
.error{color: #FF6500;font-size: 10px;font-weight: bold;}
.front{color:#ffffff;}
.prompt-text{color:#ccc;}
.hidden{display:none;}
.highlight {color: #c1c1c1;font-weight: bold;font-size: 10px;}
.file-frame {width: 250px;height: 42px;}
.float-tree {overflow: scroll;display: none;}
.input {border: #7B9EBD 1px solid;height: 30px;font-size: 11pt;padding-top: 5px;}
.button{ background-color: #36aef4;  color: #fff;  cursor: pointer; line-height: 20px;  padding: 5px 15px;  -webkit-border-radius: 4px; border-radius: 4px;border: none;}

/*---TOP页样式---*/
.banner {margin: 0;padding:auto;width:100%;height:196px;overflow:hidden;text-align:center;font-size:10px;color:#fff;line-height:18pt;z-index:100;background: #ccc;}
.banner a{font-size:10pt;color:#fff;padding: 0 10px 0 10px;height:30px;line-height: 30px;display: inline-block;}
.banner a:link {text-decoration: none;color: #fff;}
.banner a:visited {text-decoration: none;color: #fff;}
.banner a:hover {text-decoration: underline;color: #fff;}
.banner a:active{text-decoration: underline;color: #fff;}
.banner span{padding: 0 10px 0 10px;height:30px;line-height: 30px;display: inline-block;font-size:10pt;}
.banner .bold{font-weight:bold;font-size:12pt;}
.banner .left-border{border-left: 1px solid #fafafa;}
.banner .welcome{width:100%;border-bottom: 1px solid #fafafa; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15), 0 2px 1px rgba(0,0,0,.10), 0 3px 1px rgba(0,0,0,.05); -moz-box-shadow: 0 1px 1px rgba(0,0,0,.15), 0 2px 1px rgba(0,0,0,.10), 0 3px 1px rgba(0,0,0,.05);}
.banner .picture ,.banner .welcome .center{text-align:left;width:1004px;height:auto;overflow:hidden;margin:auto;padding:0;}
.banner .welcome .center .login-bar div{display: none;}
.banner .welcome .center .left{width:500px;text-align:left;height:30px;line-height:30px;font-size:16px;}
.banner .welcome .center .login-bar{width:258px;text-align:left;height:30px;line-height:30px;font-size:16px;}
.banner .picture .logo {width:300px;height:120px;}
.banner .picture .logo img{width:300px;height:120px;}
.banner .picture .advertisement{width:704px;height:120px;}
.banner .picture .advertisement img{width:704px;height:120px;}







.index_menu {background: #c1c1c1;height: 50px;width: 100%;text-align:center;}
.index_menu div {margin: auto;}
.index_menu .menu ul {list-style: none;height: 50px;width:1004px;padding:0;margin:0 auto;}
.index_menu .menu ul li {float: left;line-height: 50px;padding: 0 20px 0 20px;margin:0;}
.index_menu .menu ul li a{font-size:12pt;}
.index_menu .list{width:100%;background:#000;overflow:hidden;z-index:1000;left:0;display: block;height:0;position: fixed;top:0;}
.index_menu .list ul {height:30px;list-style: none;zoom:1;display:inline-block;*display:inline;margin:0;padding:0;}
.index_menu .list ul li {float: left;padding: 0 30px 0 30px;line-height:30px;}

.left_menu{width:220px;overflow:hidden;float:left;}
.left_menu ul{width:220px;zoom: 1;display: inline-block;margin: 0;padding:0 0 5px 0;list-style: none;}
.left_menu ul .item {font-size: 12pt;overflow: hidden;line-height:40px;width:100%;margin:5px 0 5px 0;}
.left_menu ul .item .link {width: 100%;line-height:40px;background: #c1c1c1;border:#c1c1c1 1px solid;display: inline-block;font-size:10px;text-indent:20px;color:#fff;}
.left_menu ul .list {list-style: none;margin: 10px 0 0 0;padding: 0;zoom: 1;}
.left_menu ul .list li {width:100%;line-height:20px;height:30px;margin:5px 0 5px 0;}
.left_menu ul .list li a{width:99%;text-indent:30px;font-size:10px;border:#ccc 1px solid;display:inline-block;}


.left_menu .left-ad{width:220px;}
.left_menu .left-ad a {width:220px;}
.left_menu .left-ad a img{width:220px;margin:10px 0 0 0;}


.body .menu {float: left;width:150px;margin-top:8px;}
.body .menu h2{padding:0;margin:0;background-color:#91C320;text-align:center;}
.body .menu h2 a{width:100px;overflow:hidden;}

.body .menu ul {list-style: none;margin:0;padding:0;}
.body .menu ul li {line-height:44px;width:150px;overflow:hidden;}
.body .menu ul li .l{float:left;padding-left:5px;font-size:13pt;}
.body .menu ul li .r{float:right;margin-right:8px;}
.body .menu ul li .r img{padding-top:10px;}

.navigation {height:40px;width: 100%;border-bottom:#ccc 2px solid;margin-bottom:10px;text-align:left;}
.navigation-left{width:auto;height:40px;line-height: 40px;text-indent: 10px;font-size:12pt;border-bottom:#c1c1c1 2px solid;color: #000;padding-right:20px;}
.navigation-right{line-height: 40px;text-align: right;padding-right:10px;font-size: 10px;}

.page a{float:left;padding:5px 10px 5px 10px;margin:0;border: #ccc 1px solid;border-left-width: 0;color:#00648d;cursor: pointer;}
.page {height: 36px;padding:2px;margin:2px;}
.page .first{border-left-width:1px;}
.page .num {background:#fff;}
.page .disable{color: #ccc;}
.page input{float: left;border: #ccc 1px solid;border-left-width: 0;color:#00648d;padding:5px 10px 5px 10px;margin:0;width:20px;line-height:17px;text-align: center;}
/*----------编辑器附件框架 tab1 tab2.....----------------*/
.editorAttachFrame{width:520px;height:250px;}
/*----------标题样式--------------------------*/
.editorAttachFrame .title{width:auto;font-size:12pt;font-weight:bold;height:30px;	 margin:0;padding:0;}
.editorAttachFrame .title ul{  width:auto;margin:0;padding:0;height:30px;border:0;}
.editorAttachFrame .title ul li{float:left;line-height:30px;list-style: none;margin:0;}
.editorAttachFrame .title ul li a{line-height:30px;border:0;width:80px;display:block;margin:0;}
.editorAttachFrame .title ul li a:hover{background:#ccc;line-height:30px;}
.editorAttachFrame .title ul li.close{	float:right;}
.editorAttachFrame .title ul li.index{background:#ffffff}
.editorAttachFrame .title ul li.select{background:#ccc;}
.editorAttachFrame .title ul li.select a span{color:#ffffff !important;font-weight:bold;}
.editorAttachFrame .title ul li.noselect{background:#fff;}
.editorAttachFrame .title ul li.noselect a span{color:#000000;font-weight:normal;}
.editorAttachFrame .title ul li.more{float:right;}
.editorAttachFrame .attach .fileName{height:30px;width:260px;text-align:left;}
.editorAttachFrame .attach .fileRemarks{width:120px;height:30px;}
.editorAttachFrame .attach .fileOperation{width:200px;height:30px;}
/*-----------------标题样式定义结束--------------*/
/*-----------------内容定义开始-----------------*/
.editorAttachFrame .content{margin:0;border:1px dotted #5393cf;width:auto;}
.editorAttachFrame .content div{margin:0;}
.editorAttachFrame .content div.none{display: none;}
.editorAttachFrame .content div.block{display: block;margin:0;}
/*内容定义结束*/

/*--tab公共样式 规格样式*/
.tab{border:#ccc 1px solid;overflow:hidden;}
/*----------标题样式--------------------------*/
.tab .tab-title{width:100%;font-size:12pt;margin:0;padding:0 0 0 5px;height:50px;}
.tab .tab-title ul{width:100%;margin:0;padding:0;border:0;overflow:hidden;}
.tab .tab-title ul li{float:left;line-height:30px;list-style: none;margin:10px 5px 10px 5px;}
.tab .tab-title ul li a{line-height:28px;padding:0 5px 0 5px;border:#c1c1c1 1px solid;text-align:center;display:block;margin:0;}

.tab .tab-title ul li.select{background:#c1c1c1;}
.tab .tab-title ul li.select a:hover{background:#c1c1c1;}
.tab .tab-title ul li.select a span{color:#ffffff !important;font-size:12pt;}

.tab .tab-title ul li.no-select a{border:#ccc 1px solid;}
.tab .tab-title ul li.no-select a:hover{background:#c1c1c1;border:#c1c1c1 1px solid;}
.tab .tab-title ul li.no-select{background:#fff;}
.tab .tab-title ul li.no-select a span{color:#000;font-size:12pt;}
.tab .tab-title ul li.no-select a:hover span{color:#fff;}

.tab .tab-title ul li.more{float:right;width:80px;}
.tab .tab-title ul li.more a{width:80px;display:block;margin:0;text-align:center;font-size:10pt;border:none;}
.tab .tab-title ul li.more a:hover{background:#c1c1c1;line-height:30px;color:#fff;}
.tab .tab-title ul li.more a span{display:block;padding-left:10px;padding-right:10px;}
.tab .tab-title ul li.index{background:#c1c1c1}

/*-----------------标题样式定义结束--------------*/
/*-----------------内容定义开始-----------------*/

.tab .tab-content{margin:0;width:100%;padding:2px 10px 0 10px;overflow:hidden;}
.tab .tab-content div.none{display: none;overflow:hidden;}
.tab .tab-content div.block{display: block;text-align:center;width:98%;overflow:hidden;}
.tab .tab-content ul{line-height:25px;overflow:hidden;margin:0;padding:0;width:98%;}
.tab .tab-content ul .li1{float:left;width:46%;padding:0;}
.tab .tab-content ul .li0{float:left;width:46%;padding:0;margin-left:15px;}
.tab .tab-content ul li a.text{float:left;text-align:left;overflow:hidden;height:25px;line-height:25px;display:inline-block;width:70%;}
.tab .tab-content ul li span.date{float:right;text-align:right;padding-right:20px;}

/*图片轮播效果 count效果因为不一致没有加入到公共样式中*/
.photo-tab {position: relative;background: #fff;border-radius:2px;overflow:hidden;text-align:center;}
.photo-tab .container{position: relative;overflow:hidden;}
.photo-tab .list{position: absolute;top: 0;left:0;list-style:none;padding:0;margin:0;border:#000 1px solid;}
.photo-tab .list .item {float:left;padding:0;margin:0;overflow:hidden;}
.photo-tab .list .item .link{display:block;}
.photo-tab .list .item .summary{display:inline-block;text-align:left;text-indent:30px;}


/* blog 排序样式 */
.sort{float:right;width:300px;}
.sort .title{text-align:center;height:40px;line-height:40px;border:#c1c1c1;font-size:16px;background:#EFEFEF}
.sort .thread{width:100%;border:#ccc 1px solid;margin-bottom:8px;background:#ffffff;}
.sort .thread dl{width:98%;height:24px;padding:0;margin-top:2px;margin-bottom:2px;}
.sort .thread dd{float:left;;padding:0;margin:0;height:24px;line-height:24px;}
.sort .thread dd.u{width:24px;}
.sort .thread dd.t{width:130px;height:24px;line-height:24px;overflow:hidden;}
.sort .thread dd.up{width:40px;text-align:right;}

.sort .tag{width:98%;height:auto;background:#ffffff;overflow:hidden;border:#ccc 1px solid;margin-bottom:8px;}
.sort .tag a{margin:3px;display:inline-block;}

.sort .user {width:98%;height: auto;background:#ffffff;overflow:hidden;border:#ccc 1px solid;margin-bottom:8px;}
.sort .user-item {width:55px;height:auto;overflow: hidden;float: left;margin:8px;}
.sort .user-item .ico {float: left;width: 55px;height: 55px;}
.sort .user-item .name {font-size: 14px;font-weight: bold;width:55px;overflow: hidden;height:20px;display:inline-block;}
.sort .user-item .count {float: right;text-align: left;width:55px;height:auto;}

.foot{width:100%;background:#000;color:#fff;text-align:center;border-top: #ccc 1px solid;line-height:25px;overflow:hidden;margin-top:10px;}
.foot .foot-body{width:1004px;text-align:left;margin: auto;}
.foot dd{width:100%;margin:0;padding:0;}
.foot dd a{padding:5px;display:inline-block;}
