/*找回密码*/
h2{font-weight: bold;width: 1004px;border-bottom: #5f86e0 1px solid;line-height: 40px;}
.password-frame{width:500px;height:300px;}
.line{width:500px;height:60px;text-align:left;}
.line .input{width:300px;height:30px;line-height:30px;}
.line .button{line-height:25px;}
.line .txt{font-size:16pt;}
.line a{color:#ff9900;font-size:16pt;}