<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/sparrow-min.css">
    <script type="text/javascript"
            src="../../assets/scripts/sparrow-all.js"></script>
    <script type="text/javascript" language="javascript">
        document.ready(function(){
           $("#.dicContainer").mousewheel(function(event){
                console.info(event);
            });
        });
    </script>
</head>
<body>
<div id="dicContainer" style="width:100px;height: 2000px;background: red; border: #ccc 1px solid;">



</div>
</body>
</html>