/* 使用说明文档 https://www.tailwindcss.cn/docs/installation
https://tailwindcss.com/docs/installation
其中 tailwind base 相当于一份重置样式表，包含了最基础的样式。 tailwind components 包含了一些组件类， 组件相当于复合样式，tailwind utilities 包含了工具类，也就是 flex mx-auto 这些内置样式。

这么划分的原因是因为 css 的优先级规则，tailwindcss 全部都是一级样式，
在类名权重相等的情况，下面的样式可以覆盖上面的样式，
所以工具类优先，
组件类次之，
基础样式兜底，生成的样式顺序尤为重要，所以 上面三句指令的顺序非必须建议不要修改。
*/
@tailwind base;
@tailwind utilities;

/* https://www.w3cschool.cn/tailwind_css/tailwind_css-n7ft3pap.html */
@layer base {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --foreground-rgb: 255, 253, 253;
            --background-start-rgb: 0, 0, 0;
            --background-end-rgb: 214, 219, 220;
        }
    }

    body {
        color: rgb(var(--foreground-rgb));
        background: linear-gradient(to bottom,
        transparent,
        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
        height: 100vh;
        /* 设置body和html的高度为视口高度的100% */
    }
}

@layer utilities {
    input {
        color: rgb(var(--foreground-rgb)) !important;
    }

    button {
        color: rgb(var(--foreground-rgb)) !important;
    }

    .Mui-error {
        font-size: 100pt;
    }
}
