@charset "UTF-8";
@tailwind base;
@tailwind utilities;
/**
Warning:
As of Dart Sass 2.0.0, !global assignments won't be able to declare new variables.

Recommendation: add `$theme-map: null` at the stylesheet root.
在文件头加个变量定义,该变量一定在 @include themify()上下文内生效
*/
@layer utilities {
  [data-theme=light] body {
    color: black;
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)) rgb(214, 219, 220);
    height: 100vh;
    /* 设置body和html的高度为视口高度的100% */
  }
  [data-theme=dark] body {
    color: white;
    background: linear-gradient(to bottom, transparent, rgb(214, 219, 220)) rgb(0, 0, 0);
    height: 100vh;
    /* 设置body和html的高度为视口高度的100% */
  }
  .test {
    color: black;
  }
}