{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": false
    },
    "target": "es5",  // 指定目标语法版本
    "loose": false    // 严格模式转换
  },
  "env": {
    "coreJs": 3      // 启用 polyfill 支持
  }
}
