th {
	border-bottom: #ccc 1px dotted;
	height: 35px;
	font-size: 10pt;
	font-weight: bold;
	text-align: right;
	width: 120px;
}
.td-input {
	width:200px;
	border:none;
	border-bottom:#ccc 1px dotted;
	height: 35px;
}

.td-message {
	width:200px;
	border:none;
	border-bottom:#ccc 1px dotted;
	height: 35px;
}