.userextensionTable th {width: 130px;text-align:right;}

.userextensionTable .input {width: 190px;border:none;border-bottom:#ccc 1px dotted;}

.userextensionTable td input {	width: 190px;}

.userextensionTable td .error {width: 180px;}

.userextensionTable td .prompt {width: 180px;}
