th {
	width:200px;
	border-bottom: #ccc 1px dotted;
	height: 40px;
	font-size: 10pt;
	font-weight: bold;
	text-align: right;
}

.td-input {
	width:500px;
	border:none;
	border-bottom:#ccc 1px dotted;
	height: 40px;
}

.td-message {
	width:200px;
	border:none;
	border-bottom:#ccc 1px dotted;
	height: 40px;
}
.input{width:490px;}