h5 {
  color: #282d3b;
}
.service {
  border: 1px solid #e6e6e7;
  width: 80%;
}
.service .msg-content {
  min-width: 400px;
}
.service .msg-content .title {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f3f3;
  border-bottom: 1px solid #e6e6e7;
  padding: 0 20px;
}
.service .msg-content .title .user {
  line-height: 60px;
  font-size: 20px;
  font-weight: 500;
}
.service .msg-content .title .iconfont {
  font-size: 20px;
}
.service .msg-content .msg-detail {
  width: 100%;
  height: 450px;
  background-color: #f8f8f8;
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
.service .msg-content .msg-detail::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}
.service .msg-content .msg-detail .message {
  margin: 0 20px;
}
.service .msg-content .msg-detail .message .time {
  color: #666;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
}
.service .msg-content .msg-detail .message .user-msg {
  display: flex;
  padding: 10px 0;
}
.service .msg-content .msg-detail .message .user-msg img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.service .msg-content .msg-detail .message .user-msg .message-detail {
  max-width: 50%;
  margin: 0 20px 0 25px;
  padding: 12px 10px;
  border-radius: 5px;
}
.service .msg-content .msg-detail .left .user-msg {
  flex-direction: row;
}
.service .msg-content .msg-detail .left .user-msg .message-detail {
  background-color: #fff;
  color: #000;
  position: relative;
}
.service .msg-content .msg-detail .left .user-msg .message-detail .block {
  border: 10px solid transparent;
  border-right-color: #fff;
  position: absolute;
  top: 8px;
  left: -20px;
}
.service .msg-content .msg-detail .right .user-msg {
  flex-direction: row-reverse;
}
.service .msg-content .msg-detail .right .user-msg .message-detail {
  background-color: #282d3b;
  color: #eee;
  position: relative;
}
.service .msg-content .msg-detail .right .user-msg .message-detail .block {
  border: 10px solid transparent;
  border-left-color: #282d3b;
  position: absolute;
  top: 8px;
  right: -20px;
}
.service .msg-content .input-part {
  width: 100%;
  border-top: 1px solid #e6e6e7;
  background-color: #f7f7f7;
}
.service .msg-content .input-part .conver-button {
  height: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  background-color: #f5f3f3;
  padding-left: 15px;
  cursor: pointer;
}
.service .msg-content .input-part .conver-button span {
  text-align: center;
  height: 26px;
  width: 26px;
  line-height: 26px;
  border: 2px solid #282d3b;
  color: #282d3b;
  background-color: #fff;
}
.service .msg-content .input-part .input-message {
  background-color: #f7f7f7;
  padding-left: 15px;
  position: relative;
}
.service .msg-content .input-part .input-message .text {
  height: 134px;
  margin-right: 20px;
  margin-top: 10px;
}
.service .msg-content .input-part .input-message .text .input-content {
  width: 100%;
  height: 70px;
  font-size: 20px;
  outline: none;
  border: none;
  resize: none;
  background-color: #f7f7f7;
}
.service .msg-content .input-part .input-message .send-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 110px;
  height: 40px;
  background-color: #f3f0f0;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.service .msg-content .active-lang {
  color: #fff !important;
  background-color: #282d3b !important;
}
