h5 {
  color: #282d3b;
}
.inform {
  width: 90%;
  min-width: 550px;
  height: 638px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding: 0 50px;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
.inform::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}
.inform .inform-item {
  padding: 30px 0;
  border-bottom: 1px solid #e6e6e7;
  display: flex;
}
.inform .inform-item:last-child {
  border: none;
}
.inform .inform-item .setting-icon {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;
  background-image: url('../../images/chat/setting.png');
  background-repeat: no-repeat;
  background-position: center;
}
.inform .inform-item .inform-content {
  flex: 1;
}
.inform .inform-item .inform-content > span {
  color: #282d3b;
  font-weight: 500;
}
.inform .inform-item .inform-content p {
  font-size: 14px;
  color: #282d3b;
}
.inform .inform-item .inform-content .inform-message {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.inform .inform-item .inform-content .inform-message .inform-time {
  color: #848484;
  font-size: 14px;
}
.inform .inform-item .inform-content .inform-message .inform-operate {
  color: #282d3b;
  font-size: 14px;
  cursor: pointer;
}
.inform p {
  line-height: 22px;
}
